<div class="container mt-4 fs-4" style="height: auto; width=90%;">
  <h2 class="fw-bold py-2 text-center">{{blogpost.title}}</h2>
  <p class="card-subtitle col-md-auto text-center pb-4">Posted by {{blogpost.user.name}} on {{format_date blogpost.created_at}}</p>
  <p>{{blogpost.content}}</p>
</div>

 