<div style="height: 80vh">
    <form class="row mx-auto post-form mb-3 form-text text-black fs-3 fw-bold" id="add-blogpost" style="width: 80%; min-width: 200px;">
      <div class="form-group">
        <label for="exampleFormControlInput1">Title</label>
        <input type="text" class="form-control form-control-lg" id="title">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" style="height: 55vh" id="content"></textarea>
      </div>
      <div class="d-grid gap-2 col-2 mx-auto">
        <button type="submit" id="save-button" class="btn btn-lg rounded-1 fw-bold bg-white border-dark border-3 mt-4">Save</button>
      </div>
    </form>
  </div>