<body >
  <div style="height: 80vh">
    <form class="row mx-auto post-form" value="#FFFFFF" style="width: 80%; min-width: 200px;">
      <div class="mb-3 form-text text-black fs-3 fw-bold">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <textarea type="text" style="height: 5vh" class="form-control" id="title">{{blogpost.title}}</textarea>
      </div>
      <div class="mb-3 form-text text-black fs-3 fw-bold">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" style="height: 55vh" id="content">{{blogpost.content}}</textarea>
      </div>
      <div class="d-grid gap-2 col-2 mx-auto">
        <button type="submit" class="save-button btn btn-lg rounded-1 fw-bold bg-white border-dark border-3 mt-4">Save</button>
      </div>
    </form>
  </div>
</body>  

<script> 
  const saveButtonHandler = async (event) => {
    event.preventDefault();

  const title = document.querySelector('#title').value.trim();
  const content = document.querySelector('#content').value.trim();
  if (!title && content) {
    alert("Title and content are required fields!");
    return;
  }
    const response = await fetch('/api/blogposts/{{blogpost.id}}', {
      method: 'PUT',
      body: JSON.stringify({ title, content }),
      headers: { 'Content-Type': 'application/json' },
    });
    console.log(response);
    if (response.ok) {
      alert('Blog post updated!');
      document.location.replace('/dashboard');
    }
    else {
      alert("Something went wrong. Please try again.");
    }
  };

  document.querySelector('.save-button').addEventListener('click', saveButtonHandler)
</script>
